<div class="container-fluid">
  <div class="row">
    <div class="col">
      <ngb-tabset>
        <ngb-tab title="One">
          <ng-template ngbTabContent>
            <p>Tab one</p>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Two">
          <ng-template ngbTabContent>
            <p>Tab two</p>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Three">
          <ng-template ngbTabContent>
            <p>Tab three</p>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
</div>