<div class="container-fluid">
  <div class="row">
      <div class="col">
        <h3>Logbook</h3>
        <hr />
        </div>
  </div>
  
</div>
<ul>
  <li>
    <a href="https://stackblitz.com/angular/lnogpayllep" target="_blank">Angular Routing - Live demo</a>
  </li>
  <li>
    <a href="https://www.sitepoint.com/ultimate-angular-cli-reference/" target="_blank">The Ultimate Angular CLI Reference Guide</a>
  </li>
  <li>
    <a href="https://www.tektutorialshub.com/angular-child-routes-nested-routes" target="_blank">Angular : Child Routes / Nested Routes</a>
  </li>
  <li>
    <a href="https://www.concretepage.com/angular-2/angular-2-4-child-routes-and-relative-navigation-example" target="_blank">Angular 2/4 Child Routes and Relative Navigation Example</a>
  </li>
  <li>
    <a href="https://blog.ng-classroom.com/blog/tips/data-sharing-in-multi-view/" target="_blank">Angular Y Observables: Como compartir información entre diferentes componentes de la aplicación de forma eficiente ?</a>
  </li>
</ul>