<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <h3 class="float-left">Logbook</h3>
      <div class="btn-toolbar float-right" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group btn-group-sm" role="group" aria-label="Third group">
          <button type="button" class="btn btn-primary" (click)="open(content)">Add</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <pre>{{closeResult}}</pre>
      <hr />
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4" *ngFor="let log of logs">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ log.title }}</h5>
          <p class="card-text">{{ log.description}}</p>
          <a [href]="log.link" class="btn btn-primary">Go!</a>
          <a (click)="onDeleteLog(log);" class="btn btn-danger">Delete</a>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <form>
    <div class="modal-header">
      <h4 class="modal-title">Add new log</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label for="title">Title</label>
        <input id="title" name="title" type="text" class="form-control" aria-describedby="titleHelp" placeholder="Enter title" [(ngModel)]="logInput.title"
          required>
        <small id="titleHelp" class="form-text text-muted">Write down the log input title</small>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input id="description" name="description" type="text" class="form-control" placeholder="Description" [(ngModel)]="logInput.description">
      </div>
      <div class="form-group">
        <label for="link">Link</label>
        <input id="link" name="link" type="text" class="form-control" placeholder="Link" [(ngModel)]="logInput.link">
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary btn-sm" (click)="onSaveLog(); c('add')">Add</button>
      <button type="reset" class="btn btn-primary btn-sm">Reset</button>
      <button type="button" class="btn btn-primary btn-sm" (click)="c('cancel')">Cancel</button>
    </div>
  </form>
</ng-template>
