.card-header {
    padding: 5px 10px 0 5px;
    margin: 0px;
    background-color: transparent;
    border: none;
}

.card-body {
    margin: -20px 0px 0px 0px;
    padding: 0 10px 5px 10px;
}

.card-footer {
    padding: 0px 10px 5px 10px;
    margin: 0px;
    background-color: transparent;
    border: none;
}

a, a:visited {
    color: black;
}

a:hover {
    color: red
}