.widget {
    margin: 0px;
    padding: 0px;
}

.widget .widget-header {
    padding: 0px;
    margin: 0px;
    height: 20px;
    font-size: 0.8rem;
    padding: 1px 5px;
    background-color: transparent;
    border: none;
}

.widget  .widget-header .widget-icon {
    text-align: left;
    float: left;
}

.widget .widget-header .widget-name {
    text-align: right;
    float: right;
}

.widget .widget-body {
    margin: 0px;
    padding: 0px;
    height: 80px;
}

.widget .widget-value {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

.widget .widget-footer {
    padding: 0px;
    margin: 0px;
    height: 20px;
    font-size: 0.8rem;
    padding: 1px 5px;
    background-color: transparent;
    text-align: right;
    border: none;
}