<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h3>Widgets</h3>
    </div>
  </div>
  <div class="row">
    <div class="col">

      <table class="table">
        <thead>
          <tr>
            <th scope="col">
              <input type="checkbox"class="master-widget-select">
            </th>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Created at</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let widget of widgets; let i = index">
            <td>
              <input type="checkbox" class="widget-select" value="{{widget.id}}">
            </td>
            <td>{{i}}</td>
            <td>{{widget.name}}</td>
            <td>{{widget.description}}</td>
            <td>{{widget.createdAt | date: 'dd/MM/yyyy HH:m:ss'}}</td>
            <td>
              <div class="btn-group btn-group-sm" role="group" aria-label="Actions">
                <button type="button" class="btn btn-primary" (click)="editWidget(widget.id);">
                  <i class="fa fa-edit"></i>
                </button>
                <button type="button" class="btn btn-danger" (click)="deleteWidget(widget.id);">
                  <i class="fa fa-trash"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
  <div class="row">
    <div class="col">
      <hr />
      <div class="float-right">
        <input class="btn btn-success" type="button" value="Add widget" (click)="addWidget();">
        <input class="btn btn-danger" type="button" value="Delete selected" (click)="deleteSelectedWidgets();">
      </div>
    </div>
  </div>
</div>