<div class="container-fluid">
  <div class="row">
    <div class="col">
      <ngb-tabset>
        <ngb-tab title="App">
          <ng-template ngbTabContent>
            <p>Tab one</p>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Weather">
          <ng-template ngbTabContent>
            <app-config-weather-server></app-config-weather-server>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Three">
          <ng-template ngbTabContent>
            <p>Tab three</p>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
</div>