.widget {
    min-height: 145px;
}

.card-body {
    margin: 0px auto;
    text-align: center;
}

.card-header {
    padding: 5px;
    margin: 0px;
    border-bottom: none;
    background-color: transparent;
}

.card-footer {
    padding: 5px;
    margin: 0px;
    border-top: none;
    background-color: transparent;
}
